html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    touch-action: manipulation;
    overflow-x: hidden;
    user-select: none;
}

body {
    --foreground: #2e3436;
    --foreground-list: 46, 52, 54;
    --highlight: #d3d7cf;
    --accent: rgb(120, 199, 240);
    --event-highlight: gold;


    background: url("../../shared/backgrounds/Suzume.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: Calibri, sans-serif;
    backdrop-filter: grayscale(25%)  brightness(75%);

}

.hidden {
    display: none !important;
}

.text-border {
    color: var(--highlight);
    text-shadow: 
        0 0 1px var(--foreground),
        0 0 2px var(--foreground),
        0 0 5px var(--foreground),
        0 0 10px var(--foreground);
}

.clickable {
    color: red;
    text-decoration: underline;
    min-width: 1em;
}

a[href].text-border {
    color: var(--accent);
}

/* General layout */

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    --size: min(22.2vw, 10vh);
}

.flexbox-column {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* Clock */

#clock {
    font-size: calc(min(12vh, 16vw));
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

x-clock::part(seconds) {
    font-size: 50%;
    padding: 0 0 0.2em 0.2em;
}

x-clock::part(seconds)::before {
    content: none;
}

.clock-secondary {
    font-size: 32.5%; 
    text-transform: capitalize;
}

/* Feed */

horizontal-pages {
    width: 100%;
}

@media (hover: none) {
    horizontal-pages::-webkit-scrollbar {
        display: none;
    }
}

#feed-progress {
    position: relative;
    height: 1vh;
    width: 100%;
}

#feed-progress > span {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    display: block;
    background-color: white;
}

#feed-progress-loaded {
    opacity: 35%;
    width: var(--loaded);
    transition: width 500ms;
}

#feed-progress-value {
    width: var(--value);
    transition: width 50ms;

}

/* Context-menu */

#context-menu-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 50%;
    transition: opacity 300ms;
}

#context-menu-shadow.hiding {
    opacity: 0;
}

#context-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    max-height: 30vh;
    font-size: 2.5vh;
    overflow-y: auto;

    display: grid;
    grid-template-columns: auto 1fr;

    transition: max-height 300ms;
}

#context-menu.hiding {
    max-height: 0;
}

#context-menu > a {
    color: #222;
    height: 64px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

#context-menu > a.failed-endpoint {
    color: #cc0000;
}

#context-menu > .material-symbols-outlined {
    color: #555;
    width: 64px;
    justify-content: center;
}

/* */

section[data-seen="1"] [data-icon="seen"],
section[data-seen="true"] [data-icon="seen"] { 
    display: none;
}

section[data-saved="0"] [data-icon="saved"],
section[data-saved="false"] [data-icon="saved"] { 
    display: none;
}